# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.env/
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Streamlit logs
.streamlit/

# OS-generated
Thumbs.db

data/private/
